$color-base:            #f3f4f5;
$color-contrast:        #000;
$color-secrets:         #ccc;
$color-accent:          #0a0ac4;
$color-accent-alt:      #4f61e9;

html {
    background: $color-base;
    color: $color-contrast;

    a, a:hover, a:active, a:visited {
        color: $color-accent;
    }
}
