RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.tyler.vc$ [NC]
RewriteRule ^(.*)$ https://tyler.vc/$1 [L,R=301]

RewriteCond %{HTTP:X-FORWARDED-PROTO} ^http$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
