html body footer { @extend %width-full; @extend %clearafter;
    padding-top: 2rem;
    @media screen and (max-width: 720px) {
        padding: 2rem 1rem 0;
    }

    section.copyright { @extend %width-2;
        float: left;
        @media screen and (max-width: 720px) {
            float: none;
        }
        p {
            color: $color-secrets;
            font-size: 0.8rem;
        }
    }

    section.progress { @extend %width-1;
        float: right;
        @media screen and (max-width: 720px) {
            float: none;
            width: 100%;
            max-width: none;
        }
        #life-progress-bar {
            border: 1px solid $color-secrets;
            padding: 1px;
            height: 1.4rem;
            #life-progress-elapsed { @extend %font-head;
                background-color: $color-secrets;
                height: 100%;
                width: 0%;
                text-align: center;
                color: $color-base;
                font-size: 0.8rem;
                padding-top: 0.2rem;
            }
        }
    }

    section.photocredit { 
        clear: both;
        width: 100%;
        text-align: center;

        p, a {
            color: $color-secrets;
            font-size: 0.8rem;
        }
    }
}
